<!-- todo_list/todo_app/templates/base.html -->
<!-- Base template -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Simple.css-->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Django To-do Lists</title>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<style>
    .btn {
      border: none;
      color: white;
      cursor: pointer;
      margin-top: 1px;
      margin-right: 2px;
      position: absolute;
    }
</style>

<button 
class="btn" 
onclick="location.href='{% url "index" %}'" >
<i class="fa fa-home"></i>
View Lists
</button>

<body>
    <div>
        <h1>
            Django To-do Lists
        </h1>        
    </div>
    <div>
        {% block content %}
        This content will be replaced by different html code for each page.
        {% endblock %}
    </div>
</body>

</html>